<h1>Pipes no tan comunes</h1>
<p>Pipes incluidos en Angular - Usualmente en el Common Module</p>

<div class="grid">
  <div class="col md:col-6 sm:col-12">
    <p-fieldset
      legend="i18nSelect Pipe"
      [toggleable]="true"
      [transitionOptions]="'90ms'"
    >
      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect : invitacionMapa }} a nuestro evento.
      </p>
      <button
        pButton
        label="Cambiar persona"
        class="p-button-success"
        icon="pi pi-users"
        iconPos="left"
        (click)="cambiarCliente()"
      ></button>
    </p-fieldset>
  </div>
  <div class="col md:col-6 sm:col-12">
    <p-fieldset
      legend="i18nPlural Pipe"
      [toggleable]="true"
      [transitionOptions]="'90ms'"
    >
      <p>
        Actualmente
        {{ clientes.length | i18nPlural : clientesMapa }} esperando.
      </p>
      <ul *ngIf="clientes.length">
        <li *ngFor="let cliente of clientes">{{ cliente }}</li>
      </ul>
      <button
        pButton
        label="Borrar cliente"
        class="p-button-danger"
        icon="pi pi-user-minus"
        iconPos="left"
        (click)="borrarCliente()"
      ></button>
    </p-fieldset>
  </div>
  <div class="col md:col-6 sm:col-12">
    <p-fieldset
      legend="JsonPipe Pipe"
      [toggleable]="true"
      [transitionOptions]="'90ms'"
    >
      <b>Heroes:</b>
      <pre>{{ heroes | json }}</pre>
      <b>Persona:</b>
      <pre>{{ persona | json }}</pre>
    </p-fieldset>
  </div>
  <div class="col md:col-6 sm:col-12">
    <p-fieldset
      legend="Slice Pipe"
      [toggleable]="true"
      [transitionOptions]="'90ms'"
    >
      <b>Original</b>
      <pre>{{ clientes.toString() }}</pre>
      <hr />
      <b>slice: 0 : 2</b>
      <pre>{{ clientes | slice : 0 : 2 }}</pre>
      <hr />
      <b>slice: 1 : 2</b>
      <pre>{{ clientes | slice : 1 : 2 }}</pre>
      <hr />
      <b>slice: 3 : 3</b>
      <pre>{{ clientes | slice : 3 : 3 }}</pre>
    </p-fieldset>
  </div>
  <div class="col md:col-6 sm:col-12">
    <p-fieldset
      legend="KeyValue Pipe"
      [toggleable]="true"
      [transitionOptions]="'90ms'"
    >
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{ item.key | titlecase }}</b
          >: {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>
</div>
