<h1>Pipes no tan comunes</h1>
<p>Pipes incluidos en Angular - Usualmente en el Common Module</p>

<div class="grid">
  <div class="col md:col-6 sm:col-12">
    <p-fieldset
      legend="i18nSelect Pipe"
      [toggleable]="true"
      [transitionOptions]="'90ms'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
      perspiciatis facilis dolore necessitatibus iusto optio aperiam nesciunt
      cum accusamus eos eveniet doloremque aspernatur dolores esse accusantium,
      tempore aut expedita.
    </p-fieldset>
  </div>
  <div class="col md:col-6 sm:col-12">
    <p-fieldset
      legend="i18nPlural Pipe"
      [toggleable]="true"
      [transitionOptions]="'90ms'"
    >
      Content
    </p-fieldset>
  </div>
</div>
