<h1>{{ "hola mundo" | titlecase }}</h1>
<h2>{{ 5500 | number }}</h2>
<button
  pButton
  type="button"
  label="Click"
  class="p-button-secondary"
  icon="pi pi-box"
  iconPos="right"
></button>
<hr />
<p-card
  header="Título de la tarjeta"
  subheader="Subtítulo de la tarjeta"
  [style]="{ width: '25rem' }"
>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure excepturi
  soluta veniam deserunt quod repellendus corrupti tempora quos iusto! Dolorum
  nobis ea itaque natus aliquid aperiam accusantium minus a exercitationem.
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-secondary"
      [style]="{ 'margin-left': '.5em' }"
    ></p-button>
  </ng-template>
</p-card>
