<div class="text-layout">
  <h1>Pipes personalizados</h1>
  <p>Pipes creados por {{ "nosotros" | mayusculas : enMayusculas }}</p>
</div>
<p-toolbar>
  <div class="p-toolbar-group-start"></div>

  <div class="p-toolbar-group-end">
    <button
      pButton
      (click)="toggleMayusculas()"
      label="Toggle mayúsculas"
      icon="pi pi-arrows-v"
      iconPos="left"
      class="mr-1 p-button-warning"
    ></button>
    <button
      pButton
      label="Por nombre"
      icon="pi pi-sort"
      class="mr-1"
      (click)="ordenar('nombre')"
    ></button>
    <button
      pButton
      label="Vuela"
      icon="pi pi-sort"
      class="mr-1 p-button-success"
      (click)="ordenar('vuela')"
    ></button>
    <button
      pButton
      label="Por color"
      icon="pi pi-sort"
      class="mr-1 p-button-help"
      (click)="ordenar('color')"
    ></button>
  </div>
</p-toolbar>

<div class="grid mt-2">
  <div class="col">
    <p-table [value]="heroes | ordenar : ordenarPor">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Vuela</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
        <tr>
          <td>{{ heroe.nombre }}</td>
          <td>{{ heroe.vuela | vuela | titlecase }}</td>
          <td>{{ heroe.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
